@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-fjalla: "Fjalla One", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-monteserrat: "Montserrat", sans-serif;
  --color-cyan-2: #0f8a91;
  --color-cyan: #54e5ed;
  --color-dark: #212529;
}

@layer {
  body {
    @apply font-poppins;
  }

  html {
    scroll-behavior: smooth;
  }
}

html,
body {
  overflow-x: clip;
} /* or hidden */
